#Charts {
    display: inline-flex;
}

.indiChart {
    display: block;
    width: 90px;
    height: 120px;
    text-align: center;
    position: relative;
}

.chartTitle {
    font-weight: bold;
}

.chartContainer {
    width: 80px;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    position: absolute;
}

.chartContainer .chartText {
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.chartText text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Garamond';
    font-size: x-large;
    font-weight: bold;
    color: rgb(0, 150, 0)
}

.TableDiv {
    margin: 5px;
}

.Tables {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.Tables td, .Tables th {
    border: 1px solid #ddd;
    padding: 8px;
}

.Tables tr:nth-child(even){background-color: #f2f2f2;}

.Tables tr:hover {background-color: #ddd;}

.Tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #045faa;
    color: white;
}